.TodoList {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    //Todo Insert - List 분리하기

    .TodoForm {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 350px;
        background: #ffffff;
        border: 1px solid rgb(126, 126, 126);
        border-radius: 4px;
        
        input {
            background: none;
            outline: none;
            border: none;
            width: 310px;
            padding: 0.25rem;
            flex: 1;
        }

        button {
            outline: none;
            border: none;
            color: white;
            font-size: 1rem;
            background: #c890ff;
            border: 1px solid #B367FF;
            border-radius: 4px;
            margin-right: 0.25rem;
        }
    }
}